.card-mobile-app {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  height: 75vh;
  padding: 0 8vw;
  background: linear-gradient(
    to bottom, /*  direction */
    var(--white) 0%, var(--white) 40%, /*  upper part */
    #000000 40%, /*  middle (not seen?) */
    var(--cream-green) 40%, var(--cream-green) 100% /*  bottom part */
  );
  --column-width: 40vw;
}

.mobile-app_image-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.mobile-app_image {
  width: var(--column-width);
}

.mobile-app_content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--column-width);
  padding: 4em 0 5em 2em;
}

.mobile-app_title {
  font-size: 3.1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.mobile-app_text {
  font-size: 1.1em;
  padding-right: 3em;
}

.mobile-app_buttons-container {
  display: flex;
  justify-content: flex-start;
}

.mobile-app_button {
  width: 14em;
  height: 4.2em;
  margin-right: 2em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: var(--black);
}

.mobile-app_button:hover {
  filter: brightness(1.2);
}

.mobile-app_image--mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .card-mobile-app {
    height: 85vh;
    font-size: 1.5em;
    background: linear-gradient(
      to bottom, /*  direction */
      var(--white) 0%, var(--white) 70%, /*  upper part */
      #000000 70%, /*  middle (not seen?) */
      var(--cream-green) 70%, var(--cream-green) 100% /*  bottom part */
    );
  }

  .mobile-app_content-container {
    justify-content: end;
    width: 100%;
    padding: 0;
  }

  .mobile-app_image-container {
    display: none;
  }

  .mobile-app_image--mob {
    display: block;
  }

  .mobile-app_image {
    width: 80%;
  }

  .mobile-app_text {
    font-size: 2em;
    margin-bottom: 2em;
  }

  .mobile-app_buttons-container {
    flex-direction: column;
    justify-content: unset;
    height: 30%;
    padding: 5em 0;
  }

  .mobile-app_button {
    width: unset;
    margin-bottom: 1em;
    margin-right: 0;
  }
}
