.screen-to-grain-companies {
    background-color: var(--white);
    min-height: 700px;
    height: 100vh;
    padding: 5vw 9vw;
    --half-content-width: calc((100vw - (9vw * 2)) / 2); /*  TODO: move to index.css */
    --controls-height: calc(var(--half-content-width) * 0.2);
}

.to-grain-companies_slider-wrapper {
    display: flex;
    height: 100%;
}

.to-grain-companies_side {
    display: flex;
    flex-direction: column;
    width: var(--half-content-width);
}

.to-grain-companies_left-side {
    background-color: var(--cream-green);
    height: 100%;
}

.to-grain-companies_slide-text {
    font-size: 1.7em;
    font-weight: 100;
    padding-right: 3em;
    line-height: 1.5;
}

.to-grain-companies_slider-arrows {
    height: var(--controls-height);
}

.to-grain-companies_slider-dot:not(.to-grain-companies_slider-dot--active) {
    background-color: var(--white);
}

.to-grain-companies_slider-index {
    width: 100%;
    height: var(--controls-height);
    font-size: 3em;
    font-weight: 900;
    color: var(--lighter-gray);
    text-align: left;
    padding: 0.8em;
}

.to-grain-companies_slide {
    display: flex;
    height: 84.5%;
    overflow: hidden;
}

.to-grain-companies_slider-awesome-wrapper {
    height: var(--half-content-width);
    width: var(--half-content-width);
}

.to-grain-companies_slider-awesome {
    height: 100%;
}

.awssld__content {
    background-size: cover;
}

.to-grain-companies_slide-picture {
    flex-grow: 1;/* doesn't work properly. google: why? */
    background-size: cover;
    height: var(--half-content-width);
    width: var(--half-content-width);
}

.to-grain-companies_slide-content {
    flex-grow: 1;/* doesn't work properly. google: why? */
    height: var(--half-content-width);
    width: var(--half-content-width);
    padding: 6.1em 5.6em;
}

.to-grain-companies_slider-title-wrapper-mob {
    display: none;
}

@media screen and (max-width: 768px) {
    .screen-to-grain-companies {
        font-size: 1.5em;
        padding: 0 0 3vh;
        --half-content-width: 100vw;
    }

    .to-grain-companies_slider-wrapper {
        flex-direction: column;
        padding-top: 3em;
    }

    .to-grain-companies_left-side {
        order: 2;
        background-color: unset;
    }
    
    .to-grain-companies_right-side {
        order: 1;
    }

    .to-grain-companies_slider-title-wrapper-mob {
        display: block;
        margin-bottom: 5em;
    }

    .to-grain-companies_slider-index {
        display: none;
    }

    .to-grain-companies_slider-index--mob {
        display: inline-block;
        width: unset;
        padding: 0.9em;
        color: var(--cream-green);
        font-size: 3.8em;
        vertical-align: top;
    }

    .to-grain-companies_slide-title {
        display: none;
    }

    .to-grain-companies_slide-title--mob {
        display: inline-block;
        padding: .8em;
        width: 60%;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .to-grain-companies_slide-text {
        display: none;
    }

    .to-grain-companies_slide-text--mob {
        display: inline-block;
        font-size: 2.5em;
        padding-left: 4em;
        margin-top: 0;
    }

    .to-grain-companies_slide-content {
        display: none;
    }

    .to-grain-companies_slide {
        flex-direction: column;
        padding-top: 3em;
    }

    .to-grain-companies_slide-picture {
        flex-grow: unset;
        /* TODO: check if flex-grow is even needed on the desktop. If not - remove */
    }

    .to-grain-companies_slider-dot:not(.slider-dot--active) {
        background-color: var(--lighter-gray);
    } 

    .to-grain-companies_slider-arrows {
        background-color: var(--transparent);
    }
}
