.questions {
  display: flex;
  min-height: 600px;
  height: 88vh;
  padding: 10vw 6vw;
  background-color: var(--white);
  background-size: 1px;
  justify-content: space-between;
}

.questions_picture-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.questions_picture-title {
  margin-bottom: .3em;
}

.questions_picture-text {
  font-size: 1.2em; 
}

.questions_form {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.questions_form-label {
  margin-bottom: 1em;
}

.questions_form-submit {
  height: 3.5em;
  width: 60%;
  background-color: var(--cream-green);
  border: 1px solid var(--cream-green);
  
}

@media screen and (max-width: 768px) {
  .questions {
    flex-direction: column;
    height: 100vh;
    padding: 7vh 6vw 4vh;
    font-size: 2.7em;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .questions_picture-content {
    width: 100%;
    background-size: 1px;
  }

  .questions_picture-title {
    font-size: 2.7em;
    margin-bottom: 1em;
  }

  .questions_form {
    width: 100%;
  }

  .questions_form-textarea {
    height: 9em;
    margin-bottom: 4em;
  }

  .questions_form-submit {
    width: unset;
  }
}
