.footer {
  min-height: 350px;
  height: 50vh;
  padding: 4vw 9vw 1vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3em 3em 3em;
  border-top: 1px solid var(--lighter-gray);
  padding: 3.5vw 25% 3.5vw 0;
}

.footer_menu-item {
  font-size: 1.1em;
}

.footer_copyright {
  text-align: center;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 80vh;
    font-size: 3em;
    padding: 0;
  }

  .footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    border: none;
    text-align: center;
    padding: 1em 0;
  }

  .footer_menu-item {
    font-size: 1.1em;
  }

  .footer_copyright {
    line-height: 4;
    background-color: var(--cream-green);
  }
}
