@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --black-2: #080206;
  --black-3: #070105;
  --light-gray: gainsboro;
  --lighter-gray: #C4C4C4;
  --gray: #9D9C9C;
  --darker-gray: #7D7C7C;
  --dark-gray: #737272;
  --transparent: transparent;

  --cream-green: #ACC9B8;
  --cream-orange: #DAB686;
  --transparent-black: rgba(7, 1, 5, 0);

	--color-text: var(--black);
	--color-bg: var(--light-gray);
	--color-content-bg: var(--darker-gray);
  --border: 1px solid var(--dark-gray);
}

html {
  font-size: calc(.8vw + .3vh);
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1;
  height: 100%;
  overflow: scroll;
  color: var(--color-text);
  background-color: #3f3f3f;
}

#root {
  height: 100%;
}

.link {
  text-decoration: none;
  color: var(--color-text);
}

.link:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #000000;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  font-weight: 500;
  padding: 0.8em 3em;
  cursor: pointer;
}

.input, .textarea {
  border: 1px solid var(--cream-green);
  border-radius: .6em;
  margin-bottom: 1em;
}

.input {
  height: 3em;
}

.card, .screen {
  overflow: hidden;
}

/* ------- Slider -------- */

.thin-title {
  font-size: 3.8em;
  font-weight: 100;
  margin-bottom: 1.5em;
}

.slider-arrows {
  width: var(--half-content-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dots {
  display: flex;
}

.slider-arrow {
  margin: 0 1em;
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(33, 33, 33, 0.25);
  cursor: pointer;
}

.slider-dot {
  margin: 0 1em;
  padding: .25em;
  border: 1px solid var(--transparent);
  border-radius: 100%;
  background-color: #C4C4C4;
  cursor: pointer;
}

.slider-dot--active {
  background-color: #2C7967;
}

@media screen and (max-width: 768px) {
  .slider-arrows {
    font-size: 1.8em;
  }

  .slider-arrow {
    display: none;
  }

  .slider-dot {
    margin: 0 .6em;
  }
}
